{% extends "base.html" %}
{% block content %}
<h4 class="center brown-text">Edit or delete words</h4>
<ul class="collapsible hoverable" data-collapsible="accordion">
    {% for word in words %} <!--looping through the words in our collection-->
    <li>
        <div class="collapsible-header">
            <div class="col s1">
                <i class="material-icons">import_contacts</i>
            </div>
            <div class="col s2">
                <a href="{{url_for('delete_word', word_id=word._id)}}" class="waves-effect waves-light btn btn_small red tooltipped"
                data-position="left" data-tooltip="Delete the word">DEL</a>
                <a href="{{url_for('edit_words', word_id=word._id)}}" class="waves-effect waves-light btn btn_small blue tooltipped" 
                    data-position="right" data-tooltip="Edit the word">Edit</a>
            </div>
            <div class="task_header col s9">
                <strong>{{word.word}} - </strong>{{word.description}}<a><i class="material-icons">info_outline</i></a>
            </div>
        </div>
        <div class="collapsible-body">
            <span><blockquote>You can delete or edit the word <strong>{{word.word}}</strong> from here as well. Doing so, it will update its records in our database and these changes will reflect in our main page as well!<blockquote></span>
            
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}