{% extends "base.html" %}
{% block content %}
    <h3 class="center">Edit the word, description or the group of letters:</h3>
    <div class="row">
        <form action="{{url_for('insert_word')}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">library_books</i>
                    <select id="category_name" name="category_name">
                        <option value="" disabled selected>Chose a category</option>
                        {% for cat in categories %}
                            {% if cat.category_name == word.category_name %}
                            <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                            {% else %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Group of letters</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">library_books</i>
                    <input id="word_name" name="word_name" type="text" class="validate" value="{{word.word}}">
                    <label for="icon-prefix">Add word</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">library_books</i>
                    <input id="word_description"  name="word_description" type="text" class="materialize-textarea" value="{{word.description}}">
                    <label for="icon-prefix">Add description</label>
                </div>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Edit
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
{% endblock %}